# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# Virtual environment directories
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# SQLite database files
*.sqlite3
*.sqlite

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyInstaller spec file
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# VS Code settings
.vscode/

# Additional IDE or Editor directories/files (optional)
.idea/
*.sublime-project
*.sublime-workspace

